.main-visual {position:relative;padding:0 90px;}
.main-visual .swiper-wrapper::after {content:'';display:block;clear:both;}
.main-visual .panel {float:left;height:860px;}
.main-visual .background {position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;background-repeat:no-repeat;background-position:50% 0;background-size:cover;z-index:1;}
.main-visual .background > img.block {margin:0 calc((100% - 1740px) / 2);width:auto;max-width:1740px;height:860px;}
.main-visual .inner {position:relative;margin:0 auto;padding-top:228px;max-width:1201px;height:100%;overflow:hidden;z-index:2;}
.main-visual .sfp-20 .background {background-image:url('../images/main/sfp_bg_mo_visual_01.jpg');background-image:url('../images/main/sfp_bg_visual_01.jpg');}
.main-visual .sfp-30 .background {background-image:url('../images/main/sfp_bg_mo_visual_02.jpg');background-image:url('../images/main/sfp_bg_visual_02.jpg');}
.main-visual .sfp-40 .background {background-image:url('../images/main/sfp_bg_mo_visual_03.jpg');background-image:url('../images/main/sfp_bg_visual_03.jpg');}
.main-visual [class*="sfp-"] .text-overlay {margin-bottom:-38px;font-size:70px;font-weight:800;line-height:80px;letter-spacing:-.025em;color:#fff;text-align:center;opacity:.2;}
.main-visual [class*="sfp-"] .text-highlight {font-size:54px;line-height:70px;letter-spacing:-.05em;color:#fff;text-align:center;text-shadow:2px 4px 5px rgba(0,0,0,.3);-ms-word-break:keep-all;word-break:keep-all;}
.main-visual [class*="sfp-"] .text-highlight span {font-weight:400;}
.main-visual [class*="sfp-"] .ip-icon-hanwha-life {display:block;margin-top:85px;padding-left:10px;}
.main-visual [class*="sfp-"] .ip-icon-hanwha-life::before {margin:0 auto;}
.main-visual .swiper-container-horizontal>.swiper-pagination-bullets {bottom:255px;font-size:0;line-height:0;}
.main-visual .swiper-pagination-bullet {width:7px;height:7px;background-color:#fff;opacity:.7;}
.main-visual .swiper-pagination-bullet-active {width:10px;height:10px;background-color:transparent;border:2px solid #fb6533;opacity:1;}
.main-visual .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin:2px 10px;}
.main-visual .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active {margin:0 10px;}

.main-smart-fp {margin-top:-119px;}
.main-smart-fp .smart-fp-list {margin:0 auto;padding:0 40px;max-width:1280px;}
.main-smart-fp .smart-fp-list > .display {display:table;width:100%;min-width:708px;table-layout:fixed;}
.main-smart-fp .smart-fp-list .panel {display:table-cell;opacity:.3;}
.main-smart-fp .smart-fp-list .panel > .inner {display:block;position:relative;padding:26px 0 0 40px;height:119px;}
.main-smart-fp .smart-fp-list .panel > .inner::before {content:'';display:none;position:absolute;top:3px;left:-1px;width:1px;height:116px;background:#fff;z-index:1;}
.main-smart-fp .smart-fp-list .panel > .inner::after {content:'';display:block;position:absolute;top:3px;left:88px;right:0;height:116px;border-top:1px solid #fff;border-right:1px solid #fff;z-index:1;}
.main-smart-fp .smart-fp-list .panel:first-child > .inner::before {display:block;}
.main-smart-fp .smart-fp-list .icon-bullet {display:block;position:absolute;top:0;left:40px;width:8px;height:8px;border-radius:50%;background-color:#fff;}
.main-smart-fp .smart-fp-list .ip-icon-smart-fp {display:block;margin-top:6px;}
.main-smart-fp .smart-fp-list .text {position:relative;font-size:18px;font-weight:400;line-height:30px;letter-spacing:-.05em;color:#fff;z-index:2;}
.main-smart-fp .smart-fp-list .progress {margin:15px 40px 0 0;height:2px;background-color:rgba(255,255,255,.3);}
.main-smart-fp .smart-fp-list .progress .current {display:none;width:0;height:2px;background-color:#fff;}
.main-smart-fp .smart-fp-list .active .progress .current {display:block;}
.main-smart-fp .smart-fp-list .panel.active {opacity:1;}
.main-smart-fp .smart-fp-list .panel.active > .inner::before {display:block;}
.main-smart-fp .smart-fp-list .panel.active .icon-bullet {background-color:#ff5319;}

.sfp-contents {position:relative;}
.sfp-article {position:absolute;bottom:0;right:200%;visibility:hidden;z-index:-1;overflow:hidden;}
.sfp-article.active {position:relative;right:0;visibility:visible;z-index:0;}
.sfp-article .sfp-title {padding:75px 0 0;color:#000;text-align:center;}
.sfp-article .sfp-title > .target {display:block;margin-bottom:3px;font-size:21px;font-weight:800;line-height:34px;letter-spacing:-.05em;}
.sfp-article .sfp-title > .item {display:inline-block;position:relative;padding:0 10px;font-size:34px;font-weight:800;line-height:48px;letter-spacing:-.05em;}
.sfp-article .sfp-title > .item::before {content:'';display:block;position:absolute;bottom:0;left:0;width:100%;height:20px;background-color:#ccc;z-index:1;}
.sfp-article .sfp-title > .item > span {position:relative;z-index:2;}

.sfp-article > .section {position:relative;transform:matrix(1, 0, 0, 1, 0, 0);-webkit-transform:matrix(1, 0, 0, 1, 0, 0)}
.sfp-article > .section > .inner {position:relative;margin:0 auto;max-width:1280px;}
.sfp-article > .section > .inner::after {content:'';display:block;clear:both;}
.sfp-article .sfp-section-header {top:0;width:100%;font-size:27px;line-height:40px;color:#000;z-index:11;}
.sfp-article .sfp-section-header strong {position:absolute;font-weight:800;z-index:2;}
.sfp-article .sfp-section-header small {position:absolute;top:39px;font-size:19px;font-weight:200;line-height:1em;writing-mode:vertical-rl;-webkit-writing-mode:vertical-rl;-moz-writing-mode:vertical-rl;-o-writing-mode:vertical-rl;-ms-writing-mode:tb-rl;transform:rotate(180deg);}
.sfp-article .sfp-section-header small:after {content:'';display:block;position:absolute;top:30px;left:10px;width:1px;height:30px;background:#000;}
.sfp-article .sfp-section-header small.prx {-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.sfp-article > .section:nth-child(even) .sfp-section-header small {left:32px;}
.sfp-article > .section:nth-child(even) .sfp-section-header strong {left:38px;}
.sfp-article > .section:nth-child(odd) .sfp-section-header small {right:29px;}
.sfp-article .contents {position:absolute;padding-left:40px;width:100%;max-width:780px;z-index:10;mix-blend-mode:multiply;}
.sfp-article .contents .text {position:relative;font-size:34px;font-weight:100;line-height:1.5882em;color:#000;letter-spacing:-.05em;z-index:2;}
.sfp-article .contents .text + .text {margin-top:.4em;}
.sfp-article .contents .text.tag {line-height:1em;}
.sfp-article .contents .text.tag > li {display:inline-block;margin-right:.2em;font-size:0.647em;font-weight:400;letter-spacing:-.05em;color:#000;}
.sfp-article .contents [class*="ip-icon-sfp-quote"] {position:absolute;top:-18px;left:9px;z-index:1;}
.sfp-article .object-group {position:relative;padding:0 40px 0 39px;z-index:2;}
.sfp-article .object-01 {display:block;position:relative;width:65%;max-width:600px;z-index:3;}
.sfp-article .object-01 .picture {mix-blend-mode:multiply;}
.sfp-article .object-01 .bg-box {mix-blend-mode:normal;}
.sfp-article .object-01 .bg-box + .picture {mix-blend-mode:normal;}
.sfp-article .object-02 .picture {position:absolute;bottom:0;z-index:4;}
.sfp-article .object-03 {position:absolute;z-index:6;}
.sfp-article .object-04 .picture {position:absolute;bottom:0;z-index:5;}
.sfp-article .deco-line {position:absolute;}
.sfp-article .deco-line > span {display:block;position:absolute;}
.sfp-article .deco-line > span:nth-child(1) {margin:0 4px;width:calc(100% - 4px);height:4px;}
.sfp-article .deco-line > span:nth-child(2) {width:4px;height:100%;}
.sfp-article .btn-link {display:block;position:relative;padding:24px 30px;width:200px;height:180px;font-size:23px;line-height:33px;letter-spacing:-.05em;color:#fff;background-color:#000;}
.sfp-article .btn-link .ip-icon-link-arrow {position:absolute;right:30px;bottom:30px;}
.sfp-article .bg-box {position:absolute;bottom:0;mix-blend-mode:multiply;}
.sfp-article .shadow {box-shadow:8px 9px rgba(0,0,0,.1);}

.sfp-article > .sfp-20-01 {margin-top:100px;}
.sfp-article > .sfp-20-01 > .inner {padding-top:55px;}
.sfp-article > .sfp-20-01 .sfp-section-header strong {top:115px;}
.sfp-article > .sfp-20-01 .contents {top:205px;left:0;}
.sfp-article > .sfp-20-01 .object-group {padding-bottom:233px;}
.sfp-article > .sfp-20-01 .object-01 {margin:0 0 0 auto;max-width:451px;}
.sfp-article > .sfp-20-01 .deco-line {top:-34px;right:30px;width:271px;height:271px;}
.sfp-article > .sfp-20-01 .deco-line > span {top:0;right:0;background:#fb6533;}
.sfp-article > .sfp-20-01 .object-02 .picture {bottom:0;left:calc( 50% - 100px);max-width:401px;}
.sfp-article > .sfp-20-01 .object-02 .bg-box {left:10.9375%;width:400px;height:216px;background:#f2f2f2;}
.sfp-article > .sfp-20-01 .object-03 {bottom:126px;}
.sfp-article > .sfp-20-01 .btn-link {background-color:#fe7435;}

.sfp-article > .sfp-20-02 {margin-top:200px;}
.sfp-article > .sfp-20-02 > .inner {padding-top:85px;}
.sfp-article > .sfp-20-02 .sfp-section-header strong {top:-8px;}
.sfp-article > .sfp-20-02 .sfp-section-header {position:absolute;right:0;max-width:540px;}
.sfp-article > .sfp-20-02 .contents {top:75px;right:0;max-width:580px;}
.sfp-article > .sfp-20-02 .object-group {padding-bottom:142px;}
.sfp-article > .sfp-20-02 .object-03 {bottom:24.173%;right:339px;}
.sfp-article > .sfp-20-02 .btn-link {background-color:#e34b30;}
.sfp-article > .sfp-20-02 .bg-box {left:10.9375%;width:1000%;height:270px;background:#ede4dd;z-index:1;}

.sfp-article > .sfp-20-03 {margin-top:200px;}
.sfp-article > .sfp-20-03 > .inner {padding-top:48px;}
.sfp-article > .sfp-20-03 .sfp-section-header small {top:43px;z-index:4;}
.sfp-article > .sfp-20-03 .sfp-section-header strong {top:113px;z-index:4;}
.sfp-article > .sfp-20-03 .contents {top:195px;}
.sfp-article > .sfp-20-03 .object-group {padding-bottom:100px;}
.sfp-article > .sfp-20-03 .object-01 {margin:0 0 0 auto;max-width:600px;}
.sfp-article > .sfp-20-03 .deco-line {display:none;bottom:-34px;right:30px;width:545px;height:360px;}
.sfp-article > .sfp-20-03 .deco-line > span {right:0;bottom:0;background:#2aced4;}
.sfp-article > .sfp-20-03 .object-03 {bottom:0;left:505px;z-index: 11;}
.sfp-article > .sfp-20-03 .btn-link {background-color:#1fc6cc;}
.sfp-article > .sfp-20-03 .text.tag {width:10em;}
.sfp-article > .sfp-20-03 .bg-box {top:100px;bottom:0;left:26.5625%;width:600px;background:#f2f2f2;}

.sfp-article > .sfp-20-04 {margin-top:200px;}
.sfp-article > .sfp-20-04 > .inner {z-index:2;}
.sfp-article > .sfp-20-04 .sfp-section-header {position:absolute;width:50%;min-width:440px;top:-9px;right:0;z-index:4;}
.sfp-article > .sfp-20-04 .sfp-section-header strong {text-shadow:0 1px 18px #fff;}
.sfp-article > .sfp-20-04 .sfp-section-header small {top:95px;}
.sfp-article > .sfp-20-04 .contents {top:75px;right:0;width:calc(50% + 40px);min-width:480px;mix-blend-mode:normal;}
.sfp-article > .sfp-20-04 .contents [class*="ip-icon-sfp-quote"] {opacity:.5;}
.sfp-article > .sfp-20-04 .contents .text {text-shadow:0 1px 18px #fff;}
.sfp-article > .sfp-20-04 .object-group {padding-bottom:196px;}
.sfp-article > .sfp-20-04 .object-02 .picture {right:40px;}
.sfp-article > .sfp-20-04 .object-03 {bottom:150px;right:50%;}
.sfp-article > .sfp-20-04 .btn-link {background:#5a40ad;}
.sfp-article > .sfp-20-04 .bg-box {left:50%;width:10000%;height:270px;background:#ede4dd;-webkit-transform:translateX(-50%);transform:translateX(-50%);}

.sfp-article > .sfp-30-01 {margin-top:100px;}
.sfp-article > .sfp-30-01 > .inner {padding-top:120px;}
.sfp-article > .sfp-30-01 .sfp-section-header strong {top:115px;}
.sfp-article > .sfp-30-01 .contents {top:205px;left:0;}
.sfp-article > .sfp-30-01 .object-group {padding-bottom:60px;}
.sfp-article > .sfp-30-01 .object-01 {margin:0 0 0 auto;max-width:501px;}
.sfp-article > .sfp-30-01 .deco-line {top:-34px;right:30px;width:371px;height:371px;}
.sfp-article > .sfp-30-01 .deco-line > span {top:0;right:0;background:#fb6533;}
.sfp-article > .sfp-30-01 .object-03 {bottom:10px;}
.sfp-article > .sfp-30-01 .bg-box {right:140px;width:1000%;height:300px;background:#f2efed;z-index:1;}
.sfp-article > .sfp-30-01 .btn-link {background-color:#df4a2f;}

.sfp-article > .sfp-30-02 {margin-top:200px;}
.sfp-article > .sfp-30-02 .sfp-section-header {position:absolute;right:0;max-width:540px;}
.sfp-article > .sfp-30-02 .sfp-section-header strong {top:-8px;}
.sfp-article > .sfp-30-02 .contents {top:75px;right:0;max-width:580px;}
.sfp-article > .sfp-30-02 .contents .text.tag {width:10em;}
.sfp-article > .sfp-30-02 .object-group {padding-bottom:180px;}
.sfp-article > .sfp-30-02 .object-01 {margin-left:-40px;max-width:441px;}
.sfp-article > .sfp-30-02 .object-02 .picture {bottom:60px;left:14.84375%;max-width:400px;}
.sfp-article > .sfp-30-02 .object-02 .bg-box {left:-60px;width:501px;height:728px;background:#f2f2f2;}
.sfp-article > .sfp-30-02 .object-03 {bottom:60px;right:340px;}
.sfp-article > .sfp-30-02 .btn-link {background-color:#fb6533;}

.sfp-article > .sfp-30-03 {margin-top:200px;}
.sfp-article > .sfp-30-03 > .inner {padding-top:48px;}
.sfp-article > .sfp-30-03 .sfp-section-header small {top:39px;z-index:4;}
.sfp-article > .sfp-30-03 .sfp-section-header strong {top:110px;z-index:4;}
.sfp-article > .sfp-30-03 .contents {top:198px;}
.sfp-article > .sfp-30-03 .object-group {padding-bottom:110px;}
.sfp-article > .sfp-30-03 .object-01 {margin:0 0 0 auto;max-width:601px;}
.sfp-article > .sfp-30-03 .deco-line {bottom:-34px;right:30px;width:471px;height:280px;}
.sfp-article > .sfp-30-03 .deco-line > span {right:0;bottom:0;background:#2aced4;}
.sfp-article > .sfp-30-03 .object-03 {bottom:-40px;left:40px;}
.sfp-article > .sfp-30-03 .btn-link {background-color:#1fc6cc;}
.sfp-article > .sfp-30-03 .bg-box {top:100px;bottom:0;left:50%;margin-left:-200px;width:10000%;background:#ede4dd;}

.sfp-article > .sfp-30-04 {margin-top:200px;}
.sfp-article > .sfp-30-04 > .inner {z-index:2;}
.sfp-article > .sfp-30-04 .sfp-section-header {position:absolute;max-width:641px;top:56px;right:0;z-index:4;}
.sfp-article > .sfp-30-04 .contents {top:145px;right:0;max-width:681px;}
.sfp-article > .sfp-30-04 .contents .text.tag {width:8em;}
.sfp-article > .sfp-30-04 .object-group {padding-bottom:218px;}
.sfp-article > .sfp-30-04 .object-02 .picture {right:40px;}
.sfp-article > .sfp-30-04 .object-03 {bottom:170px;right:50%;}
.sfp-article > .sfp-30-04 .btn-link {background:#5a40ad;}
.sfp-article > .sfp-30-04 .bg-box {left:50%;width:10000%;height:270px;background:#f2f2f2;-webkit-transform:translateX(-50%);transform:translateX(-50%);}

.sfp-article > .sfp-40-01 {margin-top:100px;}
.sfp-article > .sfp-40-01 > .inner {padding-top:122px;}
.sfp-article > .sfp-40-01 .sfp-section-header strong {top:115px;}
.sfp-article > .sfp-40-01 .contents {top:202px;left:0;}
.sfp-article > .sfp-40-01 .object-group {padding-bottom:363px;}
.sfp-article > .sfp-40-01 .object-01 {margin:0 0 0 auto;max-width:501px;}
.sfp-article > .sfp-40-01 .deco-line {top:-34px;right:30px;width:371px;height:231px;}
.sfp-article > .sfp-40-01 .deco-line > span {top:0;right:0;background:#fb6533;}
.sfp-article > .sfp-40-01 .object-02 .picture {bottom:157px;left:50%;margin-left:-150px;max-width:300px;}
.sfp-article > .sfp-40-01 .object-03 {bottom:166px;}
.sfp-article > .sfp-40-01 .object-04 .picture {bottom:0;right:40px;max-width:361px;}
.sfp-article > .sfp-40-01 .bg-box {bottom:124px;left:10.9375%;width:1000%;height:266px;background:#f2f2f2;z-index:1;}
.sfp-article > .sfp-40-01 .btn-link {background-color:#fe7435;}

.sfp-article > .sfp-40-02 {margin-top:200px;}
.sfp-article > .sfp-40-02 > .inner {padding-top:60px;}
.sfp-article > .sfp-40-02 .sfp-section-header {position:absolute;right:0;max-width:540px;}
.sfp-article > .sfp-40-02 .sfp-section-header strong {top:-9px;}
.sfp-article > .sfp-40-02 .contents {top:75px;right:0;max-width:580px;}
.sfp-article > .sfp-40-02 .object-group {padding-bottom:130px;}
.sfp-article > .sfp-40-02 .object-01 {margin-left:50px;max-width:497px;}
.sfp-article > .sfp-40-02 .object-01 .picture {position:relative;z-index:2;}
.sfp-article > .sfp-40-02 .object-01 .bg-box {top:-60px;left:-50px;width:500px;height:528px;background-color:#ede4dd;z-index:1;}
.sfp-article > .sfp-40-02 .object-03 {bottom:156px;right:339px;}
.sfp-article > .sfp-40-02 .btn-link {background-color:#e34b30;}
.sfp-article > .sfp-40-02 .bg-box {left:calc(50% - 100px);width:240px;height:240px;background:#f2f2f2;z-index:1;}

.sfp-article > .sfp-40-03 {margin-top:200px;}
.sfp-article > .sfp-40-03 > .inner {padding-top:0;}
.sfp-article > .sfp-40-03 .sfp-section-header small {top:39px;z-index:4;}
.sfp-article > .sfp-40-03 .sfp-section-header strong {top:112px;z-index:4;}
.sfp-article > .sfp-40-03 .contents {top:175px;}
.sfp-article > .sfp-40-03 .object-group {padding-bottom:118px;}
.sfp-article > .sfp-40-03 .object-01 {margin:0 0 0 auto;max-width:501px;}
.sfp-article > .sfp-40-03 .object-02 .picture {bottom:0;right:280px;max-width:360px;}
.sfp-article > .sfp-40-03 .object-02 .deco-line {display:none;bottom:45px;right:270px;width:370px;height:360px;z-index:5;}
.sfp-article > .sfp-40-03 .deco-line > span {right:0;bottom:0;background:#2aced4;}
.sfp-article > .sfp-40-03 .object-03 {bottom:-40px;left:40px;}
.sfp-article > .sfp-40-03 .btn-link {background-color:#1fc6cc;}
.sfp-article > .sfp-40-03 .bg-box {bottom:115px;right:390px;width:401px;height:321px;background:#f2f2f2;}

.sfp-article > .sfp-40-04 {margin-top:200px;}
.sfp-article > .sfp-40-04 > .inner {padding-top:0;z-index:2;}
.sfp-article > .sfp-40-04 .sfp-section-header {position:absolute;width:50%;,min-width:440px;top:0;right:0;z-index:4;}
.sfp-article > .sfp-40-04 .sfp-section-header strong {top:-9px;}
.sfp-article > .sfp-40-04 .contents {top:75px;right:0;width:calc(50% + 40px);mix-blend-mode:normal;}
.sfp-article > .sfp-40-04 .object-group {padding-bottom:215px;}
.sfp-article > .sfp-40-04 .object-02 .picture {right:40px;}
.sfp-article > .sfp-40-04 .object-03 {bottom:170px;right:50%;}
.sfp-article > .sfp-40-04 .btn-link {background:#5a40ad;}
.sfp-article > .sfp-40-04 .bg-box {left:50%;width:10000%;height:270px;background:#f2f2f2;-webkit-transform:translateX(-50%);transform:translateX(-50%);}

.sfp-article .swiper-container {position:relative;}
.sfp-article .swiper-container .swiper-wrapper::after {content:'';display:block;clear:both;}
.sfp-article .swiper-container .panel {float:left;padding:0 180px;height:480px;}
.sfp-article .swiper-container .background {position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;background-repeat:no-repeat;background-position:50% 0;background-size:cover;z-index:1;}
.sfp-article .swiper-container .inner {position:relative;margin:0 auto;padding-top:54px;max-width:1201px;height:100%;overflow:hidden;z-index:2;}
.sfp-article .swiper-container .title {font-family:'NanumSquare';font-size:27px;font-weight:800;line-height:40px;letter-spacing:-.02em;color:#fff;}
.sfp-article .swiper-container .text {margin-top:30px;font-size:27px;font-weight:100;line-height:46px;letter-spacing:-.05em;color:#fff;}
.sfp-article .swiper-container [class*="swiper-button"] {display:block;top:209px;margin-top:0;padding:15px 23px;width:62px;height:62px;border:1px solid #fff;background-image:none;}
.sfp-article .swiper-container [class*="swiper-button"]::before {content:'';display:block;width:16px;height:30px;background-repeat:no-repeat;background-image:url(../images/common/sfp_common.png);}
.sfp-article .swiper-container .swiper-button-prev {left:40px;}
.sfp-article .swiper-container .swiper-button-prev::before {background-position:-510px -150px;}
.sfp-article .swiper-container .swiper-button-next {right:40px;}
.sfp-article .swiper-container .swiper-button-next::before {background-position:-530px -150px;}
.sfp-article.sfp-20 .sfp-story-01 .background {background-image:url('../images/main/sfp_story01_01.jpg');}
.sfp-article.sfp-20 .sfp-story-02 .background {background-image:url('../images/main/sfp_story01_02.jpg');}
.sfp-article.sfp-20 .sfp-story-03 .background {background-image:url('../images/main/sfp_story01_03.jpg');}
.sfp-article.sfp-30 .sfp-story-01 .background {background-image:url('../images/main/sfp_story02_01.jpg');}
.sfp-article.sfp-30 .sfp-story-02 .background {background-image:url('../images/main/sfp_story02_02.jpg');}
.sfp-article.sfp-30 .sfp-story-03 .background {background-image:url('../images/main/sfp_story02_03.jpg');}
.sfp-article.sfp-40 .sfp-story-01 .background {background-image:url('../images/main/sfp_story03_01.jpg');}
.sfp-article.sfp-40 .sfp-story-02 .background {background-image:url('../images/main/sfp_story03_02.jpg');}
.sfp-article.sfp-40 .sfp-story-03 .background {background-image:url('../images/main/sfp_story03_03.jpg');}

.sfp-article .swiper-progress {position:absolute;bottom:0;left:0;width:100%;overflow:hidden;}
.sfp-article .swiper-progress .progress-row {display:table;margin:0 -2px;width:calc(100% + 4px);table-layout:fixed;}
.sfp-article .swiper-progress .progress {display:table-cell;position:relative;padding:0 2px;}
.sfp-article .swiper-progress .progress::before {content:'';display:block;position:absolute;right:2px;bottom:0;left:2px;height:2px;background-color:#fff;opacity:.8;z-index:1;}
.sfp-article .swiper-progress .progress > .current {display:none;position:relative;top:0;left:0;width:0;height:6px;background-color:#fe7435;z-index:2;}
.sfp-article .swiper-progress .progress.active::before {background-color:#fe7435;}
.sfp-article .swiper-progress .progress.active > .current {display:block;}

.main-slogan {position:relative;padding:79px 40px 78px;height:450px;background-image:url('../images/main/sfp_bg_mo_slogan.jpg');background-image:url('../images/main/sfp_bg_slogan.jpg');background-repeat:no-repeat;background-size:cover;background-position:50% 0;}
.main-slogan > .inner {position:relative;margin:0 auto;padding:63px 0 0;max-width:801px;height:293px;color:#fff;text-align:center;z-index:2;}
.main-slogan .slogan {}
.main-slogan .slogan strong.n-square {font-weight:800;text-shadow:3px 4px 5px rgba(0,0,0,.3);}
.main-slogan .slogan .text {display:block;margin-bottom:1px;font-size:30px;line-height:40px;letter-spacing:.18em;}
.main-slogan .slogan .text-highlight {font-size:55px;line-height:80px;letter-spacing:-.025em;}
.main-slogan .slogan .text-small {display:block;margin-top:12px;font-size:19px;font-weight:400;line-height:40px;letter-spacing:-.025em;}
.main-slogan .slogan .ip-icon-any-more {margin:0 7px 0 0;vertical-align:-17px;}
.main-slogan [class*="deco-line-"] {display:block;position:absolute;background-color:#fff;opacity:.2;}
.main-slogan .deco-line-top {top:0;left:81px;right:0;height:4px;}
.main-slogan .deco-line-right {top:4px;right:0;bottom:0;width:4px;}
.main-slogan .deco-line-bottom {bottom:0;left:81px;right:81px;height:4px;}
.main-slogan .deco-line-left {top:0;left:0;bottom:0;width:4px;}

.main-notice {padding:94px 40px 110px 39px;overflow:hidden;}
.main-notice > .inner {margin:0 auto;max-width:1201px;}
.main-notice > .inner .title {margin-bottom:48px;font-size:19px;font-weight:800;line-height:30px;letter-spacing:-.02em;color:#000;}
.main-notice .last-notice {}
.main-notice .last-notice .info {position:relative;padding-top:39px;}
.main-notice .last-notice .subject {font-size:32px;font-weight:400;line-height:46px;letter-spacing:-.05em;color:#000;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.main-notice .last-notice .date {position:absolute;top:0;left:0;}
.main-notice .last-notice .date [class*="ip-icon-"] {margin:3px 5px 3px 0;vertical-align:top;}
.main-notice .last-notice .date .text {display:inline-block;font-size:13px;font-weight:400;line-height:20px;letter-spacing:-.025em;vertical-align:top;}
.main-notice .last-notice .contents {margin-top:5px;font-size:15px;font-weight:300;line-height:25px;color:#666;white-space:pre-line;}
.main-notice .latest-notice {margin:55px -40px 0 -39px;padding:0 40px;}
.main-notice .latest-notice > .display {display:table;width:100%;min-width:935px;table-layout:fixed;}
.main-notice .latest-notice .panel {display:table-cell;}
.main-notice .latest-notice .panel > .inner {display:block;position:relative;padding:40px 40px 72px 40px;height:302px;}
.main-notice .latest-notice .info {position:relative;padding-top:40px;}
.main-notice .latest-notice .subject {font-size:18px;font-weight:400;line-height:26px;letter-spacing:-.025em;color:#000;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.main-notice .latest-notice .date {position:absolute;top:0;left:0;}
.main-notice .latest-notice .date .text {display:inline-block;font-size:12px;font-weight:400;line-height:20px;letter-spacing:-.025em;vertical-align:top;}
.main-notice .latest-notice .contents {margin-top:11px;font-size:13px;font-weight:300;letter-spacing:-.025em;color:#666;overflow:hidden;word-wrap:break-word; white-space:normal; text-overflow:ellipsis; line-height:1.8; height:5.4em;-webkit-line-clamp:3; -webkit-box-orient:vertical;display:-webkit-box;}
.main-notice .latest-notice .detail-link {display:block;position:absolute;bottom:48px;left:40px;padding:8px 0 0;font-size:12px;font-weight:600;line-height:14px;letter-spacing:-.025em;color:#bfbfbf;transition:color 150ms;-webkit-transition:color 150ms;}
.main-notice .latest-notice .detail-link::before {content:'';display:block;position:absolute;top:0;width:6px;height:6px;border-radius:50%;background-color:#fb6533;opacity:0;transition:opacity 150ms;-webkit-transition:opacity 150ms;}
.main-notice .latest-notice .detail-link::after {content:'';display:block;position:absolute;bottom:0;width:100%;height:1px;background-color:#fb6533;opacity:0;transition:opacity 150ms;-webkit-transition:opacity 150ms;}
.noios .main-notice .latest-notice a:hover .detail-link {color:#fb6533;}
.noios .main-notice .latest-notice a:hover .detail-link::before {opacity:1;}
.noios .main-notice .latest-notice a:hover .detail-link::after {opacity:1;}
.main-notice .latest-notice [class*="deco-line-"] {display:block;position:absolute;background-color:#ccc;}
.main-notice .latest-notice .deco-line-top {top:0;left:40px;right:0;height:1px;}
.main-notice .latest-notice .deco-line-right {top:0;right:0;bottom:0;width:1px;}
.main-notice .latest-notice .deco-line-bottom {bottom:0;left:40px;right:40px;height:1px;}
.main-notice .latest-notice .deco-line-left {top:0;left:-1px;bottom:0;width:1px;}
.main-notice .btn-more {display:block;margin:60px auto 0;padding:12px 0;width:201px;height:50px;font-size:13px;font-weight:600;line-height:24px;letter-spacing:-.02em;color:#666;text-align:center;border:1px solid #d9d9d9;}

.pc {display:block;}
.mo {display:none;}

.lt-ie10 .main-visual .background::after,
.lt-ie10 .main-slogan::before {display:none;}

@media all and (max-width:1469px) {
	.main-visual {position:relative;padding:0;}
	.main-visual .swiper-container {max-width:1280px;}
}
@media all and (max-width:1280px) {

	.main-visual [class*="sfp-"] .text-overlay {line-height:100px;}
	.main-visual [class*="sfp-"] .ip-icon-hanwha-life {margin-top:54px;}
	.main-visual .swiper-container-horizontal>.swiper-pagination-bullets {bottom:180px;}

	.sfp-article > .sfp-20-02 {margin-top:200px;}
	.sfp-article > .sfp-20-03 {margin-top:200px;}
	.sfp-article > .sfp-20-04 {margin-top:200px;}

	.sfp-article > .sfp-30-02 {margin-top:200px;}
	.sfp-article > .sfp-30-03 {margin-top:200px;}
	.sfp-article > .sfp-30-04 {margin-top:200px;}

	.sfp-article > .sfp-40-02 {margin-top:200px;}
	.sfp-article > .sfp-40-03 {margin-top:200px;}
	.sfp-article > .sfp-40-04 {margin-top:200px;}

}
@media all and (max-width:1140px) {


	.sfp-article .contents {max-width:610px;}
	.sfp-article .contents .text {font-size:30px;}
	.sfp-article .object-group {padding-right:0;padding-left:0;}

	.sfp-article .swiper-container .panel {float:left;padding:0 40px;height:480px;}
	.sfp-article .swiper-container .inner {padding-top:70px;max-width:801px;}
	.sfp-article .swiper-container .background {width:100%;}
	.sfp-article .swiper-container .text {font-size:25px;line-height:42px;}
	.sfp-article .swiper-container [class*="swiper-button"] {display:none;}
	.sfp-article .swiper-progress .progress-row {margin:0 -1px;width:calc(100% + 2px);}
	.sfp-article .swiper-progress .progress {padding:0 1px;}
	.sfp-article .swiper-progress .progress::before {right:1px;left:1px;height:2px;}
	.sfp-article .swiper-progress .progress > .current {height:3px;}

	.sfp-article > .sfp-20-01 .deco-line {top:-34px;right:30px;width:352px;height:352px;}
	.sfp-article > .sfp-20-01 .object-group {padding-bottom:20.43859%;}
	.sfp-article > .sfp-20-01 .object-02 .bg-box {}
	.sfp-article > .sfp-20-01 .object-03 {left:40px;}

	.sfp-article > .sfp-20-02 .sfp-section-header {width:440px;}
	.sfp-article > .sfp-20-02 .contents {width:480px;mix-blend-mode:normal;}
	.sfp-article > .sfp-20-02 .contents [class*="ip-icon-sfp-quote"] {opacity:.5;}
	.sfp-article > .sfp-20-02 .contents .text {text-shadow:0 1px 18px #fff;}
	.sfp-article > .sfp-20-02 .object-03 {right:40px;}

	.sfp-article > .sfp-20-03 .deco-line {width:410px;height:270px;}
	.sfp-article > .sfp-20-03 .bg-box {top:70px;right:45px;left:26.5625%;width:auto;background:#f2f2f2;}

	.sfp-article > .sfp-30-01 .object-group {padding-bottom:70px;}
	.sfp-article > .sfp-30-01 .object-03 {bottom:10px;left:40px;}

	.sfp-article > .sfp-30-02 .sfp-section-header {width:440px;}
	.sfp-article > .sfp-30-02 .contents {width:480px;mix-blend-mode:normal;}
	.sfp-article > .sfp-30-02 .contents [class*="ip-icon-sfp-quote"] {opacity:.5;}
	.sfp-article > .sfp-30-02 .contents .text {text-shadow:0 1px 18px #fff;}
	.sfp-article > .sfp-30-02 .object-01 {margin-left:0;}
	.sfp-article > .sfp-30-02 .object-02 .picture {bottom:69px;left:auto;right:14.4%;width:53.3%;max-width:400px;}
	.sfp-article > .sfp-30-02 .object-02 .bg-box {left:0;width:66.6%;height:400px;}
	.sfp-article > .sfp-30-02 .object-03 {bottom:10px;left:40px;}

	.sfp-article > .sfp-30-04 .sfp-section-header {width:440px;}
	.sfp-article > .sfp-30-04 .sfp-section-header .title {text-shadow:0 1px 18px #fff;}
	.sfp-article > .sfp-30-04 .contents {top:145px;right:0;max-width:480px;mix-blend-mode:normal;}
	.sfp-article > .sfp-30-04 .contents [class*="ip-icon-sfp-quote"] {opacity:.5;}
	.sfp-article > .sfp-30-04 .contents .text {text-shadow:0 1px 18px #fff;}

	.sfp-article > .sfp-40-01 .object-group {padding-bottom:400px;}
	.sfp-article > .sfp-40-01 .object-02 .picture {bottom:220px;left:40px;margin-left:0;}
	.sfp-article > .sfp-40-01 .object-03 {bottom:10px;left:40px;}
	.sfp-article > .sfp-40-01 .object-04 .picture {bottom:60px;right:0;}
	.sfp-article > .sfp-40-01 .bg-box {left:0;bottom:100px;width:100%;height:326px;}

	.sfp-article > .sfp-40-02 .sfp-section-header {width:440px;}
	.sfp-article > .sfp-40-02 .contents {width:480px;}
	.sfp-article > .sfp-40-02 .object-03 {right: 60px;}

	.sfp-article > .sfp-40-04 .sfp-section-header {width:440px;}
	.sfp-article > .sfp-40-04 .contents {width: 480px;}
}

/****************** Mobile Device ******************/
@media all and (max-width:750px) {
	.shadow.prx {box-shadow:1.0667vw 1.3333vw rgba(0,0,0,.1) !important;}

	.main-visual {padding:0;}
	.main-visual [class*="ip-icon-"]::before {background-size:133.3333vw 133.3333vw;}
	.main-visual .ip-icon-hanwha-life::before {width:29.9vw;height:11.8666vw;background-position:-34.55vw -54.4vw;}
	.main-visual .panel {height:161.86vw;/* max-height:calc(100vh - 16vw); */}
	.main-visual .background {position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;z-index:1;}
	.main-visual .background::after {background-size:213.3333vw 1.3333vw;}
	.main-visual .background > img.block {margin:0 calc((100% - 327.4667vw) / 2);width:auto;max-width:327.4667vw;height:161.8667vw;}
	.main-visual .inner {padding-top:43.8666vw;max-width:100%;}
	.main-visual .sfp-20 .background {background-image:url('../images/main/sfp_bg_mo_visual_01.jpg');}
	.main-visual .sfp-30 .background {background-image:url('../images/main/sfp_bg_mo_visual_02.jpg');}
	.main-visual .sfp-40 .background {background-image:url('../images/main/sfp_bg_mo_visual_03.jpg');}
	.main-visual [class*="sfp-"] .text-overlay {margin-bottom:-7.4666vw;font-size:10.6vw;line-height:12vw;letter-spacing:-.05em;}
	.main-visual [class*="sfp-"] .text-overlay .large {font-size:12vw;line-height:13.3333vw;}
	.main-visual [class*="sfp-"] .text-highlight {font-size:7.4666vw;line-height:10.4vw;letter-spacing:-.05em;}
	.main-visual [class*="sfp-"] .btn-application {margin:13.3333vw auto 0;padding:3.2vw 0 2.6667vw;width:42.1333vw;height:11.2vw;font-size:3.7333vw;font-weight:400;line-height:5.3333vw;letter-spacing:-.05em;color:#fff;text-align:center;background-color:#fe7435;}
	.main-visual [class*="sfp-"] .ip-icon-hanwha-life {position:absolute;bottom:46.8667vw;left:0;margin-top:0;padding-left:0;width:100%;}
	.main-visual .swiper-pagination-bullet {width:1.6vw;height:1.6vw;}
	.main-visual .swiper-pagination-bullet-active {width:2.6667vw;height:2.6667vw;border-width:.4vw;}
	.main-visual .swiper-container-horizontal>.swiper-pagination-bullets {bottom:34.1333vw;}
	.main-visual .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin:0.5333vw 2.1333vw;}
	.main-visual .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active {margin:0 2.1333vw;}

	.main-smart-fp {margin-top:-17.6vw;}
	.main-smart-fp .smart-fp-list {padding:0 8vw;}
	.main-smart-fp .smart-fp-list > .display {width:calc((100% + 16vw) * 1.89);min-width:188.8vw;}
	.main-smart-fp .smart-fp-list .panel > .inner {padding:3.2vw 0 0 6.4vw;height:17.6vw;}
	.main-smart-fp .smart-fp-list .panel > .inner::before {top:0.5333vw;height:17.0667vw;background:#fff;}
	.main-smart-fp .smart-fp-list .panel > .inner::after {top:0.5333vw;left:14.1333vw;height:17.0667vw;}
	.main-smart-fp .smart-fp-list .icon-bullet {left:6.4vw;width:1.3333vw;height:1.3333vw;}
	.main-smart-fp .smart-fp-list .ip-icon-smart-fp {margin-top:0.8vw;}
	.main-smart-fp .smart-fp-list .text {font-size:3.2vw;line-height:5.3333vw;}
	.main-smart-fp .smart-fp-list .progress {margin:2.4vw 6.4vw 0 0;height:0.2667vw;}
	.main-smart-fp .smart-fp-list .progress .current {height:0.2667vw;}

	.sfp-article .sfp-title {display:none;}
	.sfp-article .object-01 {width:80.1333vw;}
	.sfp-article .swiper-container .panel {float:left;padding:0 8vw;height:114.6667vw;}
	.sfp-article .swiper-container .background {top:5.3333vw;width:100%;height:109.3333vw;}
	.sfp-article .swiper-container .inner {padding-top:1.0667vw;}
	.sfp-article .swiper-container .title {font-size:5.0666vw;line-height:8vw;color:#000;text-shadow:0 0 1vw rgba(255,255,255,.5);}
	.sfp-article .swiper-container .text {margin-top:10.6667vw;font-size:5.2vw;line-height:8vw;}
	.sfp-article .swiper-container [class*="swiper-button"] {display:none;}
	.sfp-article .swiper-progress .progress-row {margin:0 -0.2667vw;width:calc(100% + 0.5333vw);}
	.sfp-article .swiper-progress .progress {padding:0 0.2667vw;}
	.sfp-article .swiper-progress .progress::before {right:0.2667vw;left:0.2667vw;height:0.5333vw;}
	.sfp-article .swiper-progress .progress > .current {height:0.8vw;}
	.sfp-article.sfp-20 .sfp-story-01 .background {background-image:url('../images/main/sfp_mo_story01_01.jpg');}
	.sfp-article.sfp-20 .sfp-story-02 .background {background-image:url('../images/main/sfp_mo_story01_02.jpg');}
	.sfp-article.sfp-20 .sfp-story-03 .background {background-image:url('../images/main/sfp_mo_story01_03.jpg');}
	.sfp-article.sfp-30 .sfp-story-01 .background {background-image:url('../images/main/sfp_mo_story02_01.jpg');}
	.sfp-article.sfp-30 .sfp-story-02 .background {background-image:url('../images/main/sfp_mo_story02_02.jpg');}
	.sfp-article.sfp-30 .sfp-story-03 .background {background-image:url('../images/main/sfp_mo_story02_03.jpg');}
	.sfp-article.sfp-40 .sfp-story-01 .background {background-image:url('../images/main/sfp_mo_story03_01.jpg');}
	.sfp-article.sfp-40 .sfp-story-02 .background {background-image:url('../images/main/sfp_mo_story03_02.jpg');}
	.sfp-article.sfp-40 .sfp-story-03 .background {background-image:url('../images/main/sfp_mo_story03_03.jpg');}

	.main-slogan {padding:16vw 8vw;height:94.4vw;background-image:url('../images/main/sfp_bg_mo_slogan.jpg');}
	.main-slogan::before {background-size:213.3333vw 1.3333vw;}
	.main-slogan > .inner {padding:9.7333vw 0 0;max-width:213.6vw;height:62.4vw;color:#fff;text-align:center;z-index:2;}
	.main-slogan .slogan {padding: 0 16vw;}
	.main-slogan .slogan strong.n-square {font-weight:800;text-shadow:0.8vw 1.0667vw 1.3333vw rgba(0,0,0,.3);}
	.main-slogan .slogan .text {margin-bottom:.5333vw;font-size:3.7333vw;line-height:5.3333vw;letter-spacing:.13em;}
	.main-slogan .slogan .text-highlight {font-size:8.5333vw;line-height:11.8667vw;}
	.main-slogan .slogan .text-small {margin:5.3333vw -16vw 0;font-size:3.7333vw;line-height:5.3333vw;}
	.main-slogan .slogan .ip-icon-any-more {margin:-1.2em -0.7em;vertical-align:0;}
	.main-slogan .slogan .ip-icon-any-more::before {margin:0 auto;}
	.main-slogan .deco-line-top {left:10.6667vw;height:0.5333vw;}
	.main-slogan .deco-line-right {top:0.5333vw;width:0.5333vw;}
	.main-slogan .deco-line-bottom {left:10.6667vw;right:10.6667vw;height:0.5333vw;}
	.main-slogan .deco-line-left {width:0.5333vw;}

	.sfp-article > .section {margin-top:25.6667vw;}
	.sfp-article > .section > .inner {padding-left:0;padding-right:0;}
	.sfp-article .picture img {width:100%;}
	.sfp-article .sfp-section-header {padding:0 7.4667vw;font-size:5.3333vw;line-height:6.6666vw;}
	.sfp-article .sfp-section-header small {margin:0 -2vw;padding-bottom:5.2vw;font-size:2.9333vw;line-height:4vw;}
	.sfp-article .sfp-section-header small:after {top:4.2667vw;left:2vw;height:4.1333vw;}
	.sfp-article .sfp-section-header strong {text-indent:-.05em;}
	.sfp-article > .section:nth-child(even) .sfp-section-header small {left:8vw;}
	.sfp-article > .section:nth-child(even) .sfp-section-header strong {left:8vw;}
	.sfp-article > .section:nth-child(odd) .sfp-section-header small {right:8vw;}
	.sfp-article .contents {position:relative;padding-left:4.2667vw;width:100%;max-width:100%;}
	.sfp-article .contents .text {font-size:5.8666vw;line-height:8.8vw;}
	.sfp-article .contents .text + .text {margin-top:0;}
	.sfp-article .contents .text.tag {margin-top:4.5333vw;}
	.sfp-article .contents .text.tag > li {font-size:5.0666vw;font-weight:100;line-height:7.4667vw;}
	.sfp-article .contents [class*="ip-icon-sfp-quote"] {top:-1.6vw;left:0;}
	.sfp-article .deco-line > span:nth-child(1) {margin:0 0.8vw;width:calc(100% - 0.8vw);height:0.8vw;}
	.sfp-article .deco-line > span:nth-child(2) {width:0.8vw;height:100%;}
	.sfp-article .object-03 {width:33.3333%;}
	.sfp-article .btn-link {display:block;position:absolute;bottom:0;left:0;padding:92% 0 0;width:100%;height:auto;font-size:3.7333vw;font-weight:400;line-height:5.3333vw;}
	.sfp-article .btn-link .text {display:block;position:absolute;top:0;left:0;padding:4.2667vw 5.3333vw;width:100%;}
	.sfp-article .btn-link .ip-icon-link-arrow {position:absolute;right:5.3333vw;bottom:5.3333vw;}

	.sfp-article > .sfp-20-01 {margin-top:17.6vw;}
	.sfp-article > .sfp-20-01 .sfp-section-header small {top:16.5333vw;}
	.sfp-article > .sfp-20-01 .sfp-section-header strong {top:0;}
	.sfp-article > .sfp-20-01 > .inner {padding-top:16.5333vw;}
	.sfp-article > .sfp-20-01 .contents {top:0;left:8vw;margin-top:10.6667vw;}
	.sfp-article > .sfp-20-01 .object-group {padding-bottom:15.0666vw;}
	.sfp-article > .sfp-20-01 .object-01 {max-width:none;}
	.sfp-article > .sfp-20-01 .object-02 .picture {bottom:0;left:auto;right:5.3333vw;bottom:7.6vw;width:33.4666vw;}
	.sfp-article > .sfp-20-01 .object-02 .bg-box {display:none;}
	.sfp-article > .sfp-20-01 .object-03 {bottom:0;left:8vw;}
	.sfp-article > .sfp-20-01 .deco-line {top:-6.1333vw;right:5.3333vw;width:62.8vw;height:62.8vw;}

	.sfp-article > .sfp-20-02 > .inner {padding-top:4vw;}
	.sfp-article > .sfp-20-02 .sfp-section-header {width:100%;max-width:100%;}
	.sfp-article > .sfp-20-02 .sfp-section-header small {top:4vw;}
	.sfp-article > .sfp-20-02 .sfp-section-header strong {top:0;text-shadow:0 0 1vw rgba(255,255,255,.5);}
	.sfp-article > .sfp-20-02 .object-group {padding-bottom:18.1333vw;}
	.sfp-article > .sfp-20-02 .object-03 {right:8vw;bottom:28.5333vw;}
	.sfp-article > .sfp-20-02 .bg-box {left:8vw;height:35.8667vw;}
	.sfp-article > .sfp-20-02 .contents {top:0;right:0;margin:-4.2667vw 0 0 auto;width:81.6vw;max-width:none;}
	.sfp-article > .sfp-20-02 .contents .text.tag {width: 12em;}

	.sfp-article > .sfp-20-03 > .inner {padding-top:16vw;}
	.sfp-article > .sfp-20-03 .sfp-section-header small {top:16vw;}
	.sfp-article > .sfp-20-03 .sfp-section-header strong {top:0;}
	.sfp-article > .sfp-20-03 .object-group {padding-bottom:18.6667vw;}
	.sfp-article > .sfp-20-03 .object-01 {width:70.9333vw;max-width:none;}
	.sfp-article > .sfp-20-03 .object-03 {top:44vw;left:8vw;bottom:auto;}
	.sfp-article > .sfp-20-03 .btn-link {position: relative;}
	.sfp-article > .sfp-20-03 .deco-line {display: block;bottom:-6.1333vw;right:5.3333vw;width:52.6667vw;height:34.6667vw;}
	.sfp-article > .sfp-20-03 .bg-box {top:auto;bottom:0;left:15%;width:77.3333vw;height:77.3333vw;}
	.sfp-article > .sfp-20-03 .contents {top:0;left:0;margin-top:-2.6667vw;margin-left:8vw;}
	.sfp-article > .sfp-20-03 .contents .text.tag {width: 13em;}

	.sfp-article > .sfp-20-04 > .inner {padding-top:3.2vw;}
	.sfp-article > .sfp-20-04 .sfp-section-header {top:0;width:100%;max-width:none;min-width:auto;}
	.sfp-article > .sfp-20-04 .sfp-section-header small {top:3.2vw;}
	.sfp-article > .sfp-20-04 .sfp-section-header strong {text-shadow:0 0 1vw rgba(255,255,255,.5);}
	.sfp-article > .sfp-20-04 .object-group {padding-bottom:36.6667vw;}
	.sfp-article > .sfp-20-04 .object-01 {width:71.0667vw;}
	.sfp-article > .sfp-20-04 .object-02 .picture {right:0;bottom:8vw;width:50%;}
	.sfp-article > .sfp-20-04 .object-03 {right:auto;left:8vw;bottom:16.8vw;}
	.sfp-article > .sfp-20-04 .bg-box {top:38.6667vw;left:8vw;height:auto;}
	.sfp-article > .sfp-20-04 .contents {top:0;left:8vw;margin-top:-2.4vw;width:90vw;}
	.sfp-article > .sfp-20-04 .contents [class*="ip-icon-sfp-quote"] {opacity:1;}
	.sfp-article.sfp-20 .swiper-container {margin-top:20.5333vw;}

	.sfp-article > .sfp-30-01 {margin-top:17.6vw;}
	.sfp-article > .sfp-30-01 .sfp-section-header small {top:16.5333vw;}
	.sfp-article > .sfp-30-01 .sfp-section-header strong {top:0;}
	.sfp-article > .sfp-30-01 > .inner {padding-top:16.5333vw;}
	.sfp-article > .sfp-30-01 .contents {top:0;left:8vw;margin-top:10.6667vw;}
	.sfp-article > .sfp-30-01 .contents .text.tag {width:10em;}
	.sfp-article > .sfp-30-01 .object-group {padding-bottom:9.0667vw;}
	.sfp-article > .sfp-30-01 .object-01 {max-width:none;}
	.sfp-article > .sfp-30-01 .object-02 .picture {right:5.3333vw;bottom:7.4667vw;left:auto;width:33.6%;}
	.sfp-article > .sfp-30-01 .bg-box {right:0;height:55.3333vw;}
	.sfp-article > .sfp-30-01 .object-03 {bottom:1.3333vw;left:8vw;}
	.sfp-article > .sfp-30-01 .deco-line {top:-6.1333vw;right:5.3333vw;width:62.8vw;height:62.8vw;}
	.sfp-article > .sfp-30-01 .deco-line > span {background:#df4a2f;}

	.sfp-article > .sfp-30-02 > .inner {padding-top:4vw;}
	.sfp-article > .sfp-30-02 .sfp-section-header {width:100%;max-width:100%;}
	.sfp-article > .sfp-30-02 .sfp-section-header small {top:4vw;}
	.sfp-article > .sfp-30-02 .sfp-section-header strong {top:0;text-shadow:0 0 1vw rgba(255,255,255,.5);}
	.sfp-article > .sfp-30-02 .contents {top:0;left:8vw;margin-top:10.6667vw;width:80vw;}
	.sfp-article > .sfp-30-02 .contents .text.tag {width: 11em;}
	.sfp-article > .sfp-30-02 .object-group {padding-bottom:41.3333vw;}
	.sfp-article > .sfp-30-02 .object-01 {margin-left:0;max-width:none;}
	.sfp-article > .sfp-30-02 .object-02 .picture {bottom:17.0667vw;left:auto;right:14.4vw;width:53.6vw;max-width:none;}
	.sfp-article > .sfp-30-02 .object-02 .bg-box {bottom:6.9333vw;left:0;width:66.8vw;height:107.6vw;}
	.sfp-article > .sfp-30-02 .object-03 {bottom:0;left:8vw;}

	.sfp-article > .sfp-30-03 > .inner {padding-top:16vw;}
	.sfp-article > .sfp-30-03 .sfp-section-header small {top:16vwvw;}
	.sfp-article > .sfp-30-03 .sfp-section-header strong {top:0;}
	.sfp-article > .sfp-30-03 .object-group {padding-bottom:21.3333vw;}
	.sfp-article > .sfp-30-03 .object-01 {width:81.4667vw;max-width:none;}
	.sfp-article > .sfp-30-03 .object-03 {left:8vw;bottom:32vw;}
	.sfp-article > .sfp-30-03 .deco-line {bottom:-6.1333vw;right:5.3333vw;width:42vw;height:48vw;}
	.sfp-article > .sfp-30-03 .bg-box {top:auto;bottom:0;left:0;margin-left: 0;width:100%;height:84vw;}
	.sfp-article > .sfp-30-03 .contents {top:0;left:0;margin-top:-4vw;margin-left:8vw;}

	.sfp-article > .sfp-30-04 > .inner {padding-top:3.2vw;}
	.sfp-article > .sfp-30-04 .sfp-section-header {top:0;width:100%;max-width:100%;}
	.sfp-article > .sfp-30-04 .sfp-section-header small {top:3.2vw;}
	.sfp-article > .sfp-30-04 .object-group {padding-bottom:36.2667vw;}
	.sfp-article > .sfp-30-04 .object-01 {width:71.0666vw;}
	.sfp-article > .sfp-30-04 .object-02 .picture {right:0;bottom:8vw;width:50%;}
	.sfp-article > .sfp-30-04 .object-03 {right:auto;left:8vw;bottom:16.5333vw;}
	.sfp-article > .sfp-30-04 .bg-box {top:38.6667vw;left:8vw;height:auto;background-color:#ede4dd;}
	.sfp-article > .sfp-30-04 .contents {top:0;left:8vw;margin-top:-2.1333vw;width:84vw;max-width:none;}
	.sfp-article > .sfp-30-04 .contents [class*="ip-icon-sfp-quote"] {opacity:1;}
	.sfp-article > .sfp-30-04 .contents .text.tag {width: 10em;}
	.sfp-article.sfp-30 .swiper-container {margin-top:20.5333vw;}

	.sfp-article > .sfp-40-01 {margin-top:17.6vw;}
	.sfp-article > .sfp-40-01 .sfp-section-header small {top:16.5333vw;}
	.sfp-article > .sfp-40-01 .sfp-section-header strong {top:0;}
	.sfp-article > .sfp-40-01 > .inner {padding-top:16.5333vw;}
	.sfp-article > .sfp-40-01 .contents {top:0;left:8vw;margin-top:10.6667vw;}
	.sfp-article > .sfp-40-01 .contents .text.tag {width: 10em;}
	.sfp-article > .sfp-40-01 .object-group {padding-bottom:69.8667vw;}
	.sfp-article > .sfp-40-01 .object-01 {max-width:none;width: 80vw;}
	.sfp-article > .sfp-40-01 .object-02 .picture {bottom:41.3333vw;right:auto;left:8vw;width:44.2667vw;max-width:none;}
	.sfp-article > .sfp-40-01 .object-03 {bottom:1.3333vw;left:8vw;}
	.sfp-article > .sfp-40-01 .object-04 .picture {left:auto;right:0;bottom:15.2vw;width:53.3333vw;max-width: none;}
	.sfp-article > .sfp-40-01 .bg-box {left:0;bottom:22.6667vw;width:100%;height:53.3333vw;}
	.sfp-article > .sfp-40-01 .deco-line {top:-6.1333vw;right:5.3333vw;width:49.4667vw;height:30.8vw;}
	.sfp-article > .sfp-40-01 .deco-line > span {background:#df4a2f;}

	.sfp-article > .sfp-40-02 > .inner {padding-top:4vw;}
	.sfp-article > .sfp-40-02 .sfp-section-header {width:100%;max-width:100%;}
	.sfp-article > .sfp-40-02 .sfp-section-header small {top:4vw;}
	.sfp-article > .sfp-40-02 .sfp-section-header strong {top: 0;}
	.sfp-article > .sfp-40-02 .contents {top:0;left:8vw;margin-top:10.6667vw;width:80vw;}
	.sfp-article > .sfp-40-02 .contents .text.tag {width: 10em;}
	.sfp-article > .sfp-40-02 .object-group {padding-top:13.3333vw;padding-bottom:41.3333vw;}
	.sfp-article > .sfp-40-02 .object-01 {margin-left:8vw;width:73.7333vw;max-width:none;}
	.sfp-article > .sfp-40-02 .object-01 .bg-box {top:-13.3333vw;left:-21.3333vw;width:100%;max-width:133.3333vw;height:78.6667vw;}
	.sfp-article > .sfp-40-02 .bg-box {right:0;bottom:21.6vw;left:auto;padding-top:32%;width:32%;height:0;}
	.sfp-article > .sfp-40-02 .object-03 {bottom:0;left:8vw;}

	.sfp-article > .sfp-40-03 > .inner {padding-top:16vw;}
	.sfp-article > .sfp-40-03 .sfp-section-header small {top:16vw;}
	.sfp-article > .sfp-40-03 .sfp-section-header strong {top:0;}
	.sfp-article > .sfp-40-03 .contents {top:0;left:0;margin-top:10.6667vw;margin-left:8vw;}
	.sfp-article > .sfp-40-03 .contents .text.tag {width: 10em;}
	.sfp-article > .sfp-40-03 .object-group {padding-bottom:41.3333vw;}
	.sfp-article > .sfp-40-03 .object-01 {max-width:none;}
	.sfp-article > .sfp-40-03 .object-02 .picture {left:auto;right:25.3333vw;bottom:20vw;width:66.8vw;max-width:133.3333vw;}
	.sfp-article > .sfp-40-03 .object-02 .deco-line {display: block;top:-5.3333vw;bottom:auto;right:5.3333vw;width:49.3333vw;height:48vw;}
	.sfp-article > .sfp-40-03 .object-02 .bg-box {top:auto;bottom:10.1333vw;left:0;width:50vw;height:51.7333vw;}
	.sfp-article > .sfp-40-03 .deco-line > span {top: 0;bottom: auto;}
	.sfp-article > .sfp-40-03 .object-03 {right: 6vw;bottom: 0;left: auto;}

	.sfp-article > .sfp-40-04 > .inner {padding-top:3.2vw;}
	.sfp-article > .sfp-40-04 .sfp-section-header {top:0;width:100%;max-width:100%;}
	.sfp-article > .sfp-40-04 .sfp-section-header small {top:3.2vw;}
	.sfp-article > .sfp-40-04 .sfp-section-header strong {top: 0;}
	.sfp-article > .sfp-40-04 .object-group {padding-bottom:36.4vw;}
	.sfp-article > .sfp-40-04 .object-01 {width:71.0667vw;}
	.sfp-article > .sfp-40-04 .object-02 .picture {right:0;bottom:8vw;width:50vw;}
	.sfp-article > .sfp-40-04 .object-03 {right:auto;left:8vw;bottom:16.6667vw;}
	.sfp-article > .sfp-40-04 .bg-box {top:38.6667vw;left:8vw;height:auto;background-color: #ede4dd;}
	.sfp-article > .sfp-40-04 .contents {top:0;left:8vw;margin-top:-2.4vw;width:90vw;}
	.sfp-article > .sfp-40-04 .contents [class*="ip-icon-sfp-quote"] {opacity:1;}
	.sfp-article.sfp-40 .swiper-container {margin-top:20.5333vw;}

	.main-notice {padding:21.3333vw 8vw 10.6667vw;}
	.main-notice > .inner .title {margin-bottom:0;font-size:5.0666vw;line-height:8vw;}
	.main-notice .last-notice .info {position:relative;padding-top:7.4667vw;}
	.main-notice .last-notice .subject {display:block;display:-webkit-box;max-height:16vw;font-size:5.8667vw;font-weight:300;line-height:8vw;text-overflow:ellipsis;white-space:normal;overflow:hidden;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;}
	.main-notice .last-notice .date [class*="ip-icon-"] {margin:0.8vw 0.5333vw 0.8vw 0;vertical-align:top;}
	.main-notice .last-notice .date .text {font-size:2.9333vw;line-height:4.2667vw;}
	.main-notice .last-notice .contents {display:block;display:-webkit-box;margin-top:3.2vw;max-height:11.7333vw;font-size:3.4667vw;line-height:5.8667vw;color: #000;text-overflow:ellipsis;white-space:normal;overflow:hidden;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;}
	.main-notice .latest-notice {margin:10.6667vw -8vw 0;padding:0 8vw;}
	.main-notice .latest-notice .display {width:300%;min-width:208vw;}
	.main-notice .latest-notice .panel > .inner {padding:9.0667vw 5.3333vw 22.9333vw 5.3333vw;height:auto;}
	.main-notice .latest-notice .info {padding-top:9.0667vw;}
	.main-notice .latest-notice .subject {font-size:5.0667vw;font-weight: 300;line-height:6.9333vw;}
	.main-notice .latest-notice .date .text {font-size:2.9333vw;}
	.main-notice .latest-notice .contents {display:block;display:-webkit-box;margin-top:2.9333vw;max-height:29.3333vw;font-size:3.4667vw;line-height:6.15vw;color:#000;text-overflow:ellipsis;white-space:normal;overflow:hidden;-webkit-line-clamp:3;-webkit-box-orient:vertical;word-wrap:break-word;}
	.main-notice .latest-notice .detail-link {bottom:9.6vw;left:5.3333vw;padding:2.1333vw 0 0;font-size:3.2vw;font-weight: 400;line-height:3.7333vw;}
	.main-notice .latest-notice .detail-link::before {width:1.6vw;height:1.6vw;}
	.main-notice .latest-notice .swiper-slide-active .detail-link {color: #fb6533;}
	.main-notice .latest-notice .swiper-slide-active .detail-link::before {opacity: 1;}
	.main-notice .latest-notice .swiper-slide-active .detail-link::after {opacity: 1;}
	.main-notice .latest-notice .deco-line-top {left:5.3333vw;}
	.main-notice .latest-notice [class*="deco-line-"] {background-color:#666;}
	.main-notice .latest-notice .deco-line-bottom {bottom: 1px;left:5.3333vw;right:5.3333vw;}
	.main-notice .btn-more {margin:8vw auto 0;padding:4.2667vw 0;width:100%;height:14.9333vw;font-size:3.4667vw;font-weight:600;line-height:6.4vw;letter-spacing:-.02em;color:#333;text-align:center;border:0.1333vw solid #999;}

    .pc {display:none;}
    .mo {display:block;}
}

@media screen and (max-width:750px) and (device-aspect-ratio:3/4) {
	.main-visual {padding:0;}
	.main-visual [class*="ip-icon-"]::before {background-size:82.3723vmax 82.3723vmax;}
	.main-visual .ip-icon-hanwha-life::before {width:14.6623vmax;height:6.0955vmax;background-position:0 -15.6507vmax;}
	.main-visual .panel {height:calc(100vmax - 16vw);/* max-height:calc(100vh - 16vw); */}
	.main-visual .background {background-size:100%  100%;}
	.main-visual .background::after {background-size:131.7957vmax 0.8237vmax;}
	.main-visual .background > img.block {margin:0 calc((100% - 202.3064vmax) / 2);max-width:202.3064vmax;height:100vmax;}
	.main-visual .inner {padding-top:17.2636vmax;max-width:100%;}
	.main-visual [class*="sfp-"] .text-overlay {margin-bottom:-3.7891vmax;font-size:6.5486vmax;line-height:7.5741vmax;}
	.main-visual [class*="sfp-"] .text-highlight {font-size:4.6087vmax;line-height:6.425vmax;}
	.main-visual [class*="sfp-"] .btn-application {margin:5.2372vmax auto 0;padding:1.9769vmax 0 1.6475vmax;width:26.0296vmax;height:6.9193vmax;font-size:2.3064vmax;line-height:3.2949vmax;}
	.main-visual [class*="sfp-"] .ip-icon-hanwha-life {bottom:22.8649vmax;}
	.main-visual .swiper-pagination-bullet {width:0.9885vmax;height:0.9885vmax;}
	.main-visual .swiper-pagination-bullet-active {width:1.6475vmax;height:1.6475vmax;}
	.main-visual .swiper-container-horizontal>.swiper-pagination-bullets {bottom:18.0873vmax;}
	.main-visual .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin:0.3295vmax 1.3179vmax;}
	.main-visual .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active {margin:0 1.3179vmax;}


}
@media screen and (max-width:639px) {
    .sfp-article > .sfp-20-01 > .inner .object-02 {top:320px;}
}
