@charset "utf-8";

/* --------------------------------------------------------------

   * 파일명 : common.css
   * 기능설명 : Resets default browser CSS.
               공통 style CSS.

-------------------------------------------------------------- */

/* 초기화 */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {max-height:999999999px;}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins,
kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, figcaption, figure, footer,
header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    background:transparent;
    vertical-align:baseline;
    outline:0;
    -webkit-text-size-adjust:none;
    -ms-text-size-adjust:none;
}
html, body { height:100%;}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    font-family: 'NanumBarunGothic','Apple SD Gothic Neo',sans-serif;
    font-size: 16px;
    font-weight: 300;
	letter-spacing: -.05em;
    color:#666;
	word-break:keep-all;
}
ul, ol { list-style-type:none; }
a {
    margin:0;
    padding:0;
    vertical-align:baseline;
    background:transparent;
    text-decoration:none;
    color:#000;
}
a:hover, a:focus, a:active {
    /* color: #000; */
    text-decoration:none;
    outline:0;
}
em, address, i { font-style:normal; }
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #e0e0e0;
    margin:50px 0;
    padding:0;
}
img {
    display:block;
    max-width:100%;
    height:auto;
}
table {
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
}
th, td {
    word-break:break-all;
    word-wrap:break-word;
}
caption, legend {
    visibility:hidden;
    overflow:hidden;
    width:0;
    height:0;
    font-size:0;
}
caption strong, caption details {
    position:absolute;
    left:-9999px;
}
button {
    border:0;
    padding:0;
    background:none;
    font-weight:normal;
    outline:0;
    font-size: 1em;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    cursor:pointer;
    -webkit-appearance:button;
    padding:0;
    border:none;
    background:transparent;
    font-family:'NanumBarunGothic','NanumSquare','Apple SD Gothic Neo',sans-serif;
}
button[disabled],
html input[disabled] { cursor:default; }
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding:0;
    border:0;
}
audio, canvas, progress, video {
    display:inline-block;
    vertical-align:baseline;
    max-width:100%;
}
audio:not([controls]) {
    display:none;
    height:0;
}
sub, sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}
sup { top:-.5em; }
sub { bottom:-.25em; }

/* HTML5 Tag */
header, footer, nav, section, article, aside, details, figcaption, figure, hgroup, main, summary { display:block; }

/* scroll design */
::-webkit-scrollbar { width: 6px; height: 6px; border: 3px solid #f1f1f1; }
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {}
::-webkit-scrollbar-track {}
::-webkit-scrollbar-thumb { height: 50px; width: 50px; background: rgba(0,0,0,.2); -webkit-border-radius: 8px; border-radius: 8px; }

/* drag color */
::selection { color:white; background:#fe7435; }
::-moz-selection { color:white; background:#fe7435; } /* firefox */

/* form 요소 */
input, select, textarea {
    font-family:'NanumBarunGothic','Apple SD Gothic Neo',sans-serif;
    vertical-align:middle;
    font-weight:300;
    border-radius:0;
    outline:none;
    -webkit-appearance:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
input {
    width:100%;
    height:60px;
    border:1px solid #e0e0e0;
    padding:0 20px;
    background:#fff;
    color:#666;
    font-size:16px;
    line-height:normal;
}
input::-ms-clear { display: none; }
textarea {
    width:100%;
    height:225px;
    padding:10px;
    border:solid 1px #e0e0e0;
    background:#fff;
    color:#666;
    font-size:1em;
    resize:none;
}
select {
    width:100%;
    height:60px;
    -webkit-appearance:none;   /* 네이티브 외형 감추기 */
    -moz-appearance:none;
    appearance:none;
    margin:0;
    padding:0 0 0 17px; /* input 높이값 맞춤 */
    border:1px solid #e0e0e0;
    border-radius:0;         /* iOS 둥근모서리 제거 */
    font-size:1em;
    background: #fff url('../images/common/sfp_icon_arrow.png') center right 20px no-repeat;  /* 화살표 모양의 이미지 */
    color:#666;
}
/* input[type=text],
input[type=password],
textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
} */
/* input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
    -webkit-box-shadow:  0 0 5px #9ed4ff;
    -moz-box-shadow:  0 0 5px #9ed4ff;
    box-shadow: 0 0 5px #9ed4ff;
    border: 1px solid #558ab7;
} */
::-webkit-input-placeholder { color:#888; }
:-moz-placeholder { color:#888; }
::-moz-placeholder { color:#888; }
:-ms-input-placeholder { color:#888; }

/* radio, checkbox design */
input[type='checkbox'],
input[type='radio'] {
    position:relative;
    margin:0;
    padding:0;
    top:2px;
}
/* radio */
.i-radio {display:block;position:relative;margin:12px 20px 6px 0;padding-left:30px;}
.i-radio > input {position:absolute;top:0;left:0;width:100%;height:100%;visibility:hidden;}
.i-radio .icon {display:block;position:absolute;top:0;left:0;width:22px;height:22px;border:1px solid #9b9b9b;border-radius:50%;webkit-transition:border 150ms;transition:border 150ms;}
.i-radio > input:checked + .icon {border:6px solid #df4a2f;}
.i-radio .text {font-size:16px;font-weight:400;line-height:22px;letter-spacing:-.05em;color:#333;}

/* checkbox */
.i-check {display:block;position:relative;margin:8px 20px 2px 0;padding-left:44px;}
.i-check > input {position:absolute;top:0;left:0;width:100%;height:100%;visibility:hidden;}
.i-check .icon {display:block;position:absolute;top:0;left:0;padding:7px 0;width:30px;height:30px;border:1px solid #ccc;background-color:#fff;webkit-transition:border 150ms, background-color 150ms;transition:border 150ms, background-color 150ms;}
.i-check .icon::before {content:'';display:block;margin:0 auto;width:17px;height:13px;background-repeat:no-repeat;background-image:url(../images/common/sfp_common.png);background-position:-480px -150px;}
.i-check > input:checked + .icon {border:1px solid #df4a2f;background-color:#df4a2f;}
.i-check .text {font-size:18px;font-weight:400;line-height:30px;letter-spacing:-.05em;color:#333;}
.i-check.right {padding-left:0;padding-right:44px;}
.i-check.right .icon {left:auto;right:0;}

/* datepicker */
.ui-datepicker {display:block;position:absolute;padding:0 8px 8px;width: 304px;font-size: 15px;line-height: 30px;border:0;background-color:#fff;z-index:900 !important;-webkit-box-shadow:1px 3px 7px rgba(0,0,0,.5);box-shadow:1px 3px 7px rgba(0,0,0,.5);}
.ui-datepicker .ui-datepicker-header {display:block;position:relative;margin:0 -8px 4px;padding:14px 38px;height:58px;font-family:'NanumSquare';font-size: 18px;font-weight:800;color: #fff;text-align: center;background-color: #333;}
.ui-datepicker .ui-datepicker-header a {position:absolute;top:0;padding: 20px 15px;width:38px;height:58px;cursor:pointer;}
.ui-datepicker .ui-datepicker-header a.ui-state-disabled {cursor:default;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30);-moz-opacity:0.3;-khtml-opacity:0.3;opacity:.3;}
.ui-datepicker .ui-datepicker-header a::before {content: '';display: block;width:10px;height:18px;background-repeat: no-repeat;background-image: url('../images/common/sfp_common.png');}
.ui-datepicker .ui-datepicker-header a span {display: block;position: absolute;margin: -1px;padding: 0;width: 1px;height: 1px;border: 0;clip: rect(0 0 0 0);overflow: hidden;}
.ui-datepicker .ui-datepicker-year {display: inline-block;vertical-align:top;}
.ui-datepicker select {padding:0 30px 0 10px;height: 30px;font-weight: 800;color: #fff;text-align: left;vertical-align: top;border: 1px solid #8c7ac6;background-color:transparent;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.ui-datepicker select option {color:#666;}
.ui-datepicker select.ui-datepicker-month {width:110px;}
.ui-datepicker .ui-datepicker-prev {left:0;}
.ui-datepicker .ui-datepicker-prev::before {background-position:-340px -190px;}
.ui-datepicker .ui-datepicker-next {right:0;}
.ui-datepicker .ui-datepicker-next::before {background-position:-340px -210px;}
.ui-datepicker .ui-datepicker-calendar {font-family:'NanumSquare';}
.ui-datepicker .ui-datepicker-calendar .ui-state-default {display:inline-block;margin: 0 auto;padding-right: 1px;height:24px;}
.ui-datepicker .ui-datepicker-calendar .ui-state-active {position: relative;color: #fe7435;}
.ui-datepicker .ui-datepicker-calendar .ui-state-active::after {content: '';display: block;position: absolute;bottom: 0;left: 0;width: 100%;height: 3px;background-color:#fe7435;}
.ui-datepicker thead th {height:36px;font-size: 16px;font-weight:800;color: #000;text-align: center;vertical-align: middle;background-color:#fff;}
.ui-datepicker tbody td {height:33px;font-weight:600;line-height: 24px;color:#000;text-align: center;vertical-align: middle;}
.ui-datepicker .ui-datepicker-buttonpane { display: none; margin: 12px -8px 0;}
.ui-datepicker .ui-datepicker-buttonpane::after {content: '';display: block;display: block;}
.ui-datepicker .ui-datepicker-buttonpane .ui-state-default {display: block;padding:11px 10px 9px;width: 50%;height: 40px;font-size: 15px;font-weight: 700;line-height: 20px;text-align: center;text-transform: uppercase;}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-current {float: left;color: #fff;background-color: #fe7435;}
.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-close {float: right;color: #666;background-color: #f2f2f2;}
.i-datepicker { font-weight: 400; background-image: url('../images/common/sfp_icon_calendar.png'); background-repeat: no-repeat; background-position: right center; }


/* input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus { border:1px solid #14a6a8; } */
/* input[readonly='readonly']:hover,
input[readonly]:hover,
input[disabled='disabled']:hover,
input[disabled]:hover { border:1px solid #e0e0e0; } */
input[readonly='readonly'],
input[readonly],
input[disabled='disabled'],
input[disabled] { /*background-color: #f8f8f8;*/  color: #666; opacity: 1; }
select::-ms-expand { display:none; }
select:last-child { margin-right: 0 !important; }

/* select+input+input */
.input-wrap { position: relative; }
.input-wrap:after { content:''; display: block; clear: both; }
.input-wrap > * { float:left; min-width:inherit !important; }
.input-wrap > * > * { width:100%; }
.input-wrap .txt { width:20px; height:60px;line-height: 56px;text-align: center;font-size: 12px; }
.input-wrap.ea02 > *:not(.txt) { width:calc(50% - 20px); }
.input-wrap.ea03 > *:not(.txt) { width:calc((100% - 40px) / 3); }
.input-wrap.ea04 > *:not(.txt) { width:calc((100% - 60px) / 4); }
.input-wrap .space { display: inline-block; width: 10px; }


/* 파일첨부버튼 */
.file-input .file-input-textbox { float: left; width: calc( 100% - 114px ); margin-right: -1px; }
.file-input .file-input-div { position: relative; width: 114px; height: 60px; overflow: hidden; }
.file-input .btn-style5 { position: absolute;padding: 0; width: 114px; font-size: 16px; color: #000; border: 2px solid #000!important; font-weight: 500; }
.file-input .file-input-hidden {
    position: absolute;
    width: 330px;
    font-size: 45px;
    right: 0;
    top: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
    filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
}

body {position: relative;z-index: 1;}

.skip-nav li {}
.skip-nav li a {display:block;position:fixed;top:-100%;left:0;width:100%;padding:15px 0;background:#222;color:#fff;font-size:1em;line-height:2em;text-align:center;z-index:50000;outline:0;}
.skip-nav li a:focus {top:0;}

#ie-version {position:fixed;top:0;left:0;width:100%;padding:18px 0 20px;background:#65b6f5;text-align:center;z-index:9999;color:#fff;font-size:1em;}
#ie-version a {display:inline-block;padding:4px 5px 5px;color:#fff;border:1px solid #fff;}
#ie-version .version-close {position:absolute;top:5px;right:1em;color:#fff;}

/* button style */
.btn-wrap { display: table; margin: 60px auto 0; }
.btn-wrap .btn { position: relative; display: inline-block; text-align: center; transition: all .4s; }
.btn-wrap .btn:before { content: ''; height: 100%; width: 0; position: absolute; top: 0; left: 0; transition: all .4s; }
.btn-wrap .btn span { width: auto; font-size: 18px; font-weight: 500; letter-spacing: -.05em; }
.btn-wrap .btn:hover:before { width: 100%; }
.btn-wrap .btn:hover span { position: relative; }

.btn-wrap .btn-style1 { color: #fff; padding: 24px 0; width: 251px; height: 70px; }

.btn-wrap .btn-style2 { padding: 24px 0; width: 251px; height: 70px; border: 1px solid #534741; }
.btn-wrap .btn-style2:before { background-color: #534741; }
.btn-wrap .btn-style2 span { color: #534741; }
.btn-wrap .btn-style2:hover { border: 1px solid #534741; }
.btn-wrap .btn-style2:hover span { color: #fff; }

.btn-wrap .btn-style3 { color: #fff; padding: 12px 0; width: 150px; height: 40px; line-height: 14px; }
.btn-wrap .btn-style3 span { font-weight: 400; }

.btn-wrap .btn-style4 { color: #fff; padding: 9px 0; height: 30px; line-height: 10px; }
.btn-wrap .btn-style4 span { font-weight: 400; }

.btn-wrap .bg-org { border: 1px solid #fb6533; background-color: #fb6533; }
.btn-wrap .bg-org:before { background-color: #ff5319; }
.btn-wrap .bg-org:hover { border: 1px solid #ff5319; }

.btn-wrap .bg-black { border: 1px solid #333; background-color: #333; }
.btn-wrap .bg-black:before { background-color: #000; }
.btn-wrap .bg-black:hover { border: 1px solid #000; }

.wid100 { width: 100px !important; }

/* background-image */
.img_s { background-image: url('../images/common/sfp_common.png'); background-size: 1000px 1000px; text-indent: -99999px; }

.blind {display:block;position:absolute;left:-9999px;text-indent:-9999px;width:0;height:0;border:0;overflow:hidden;font-size:1px;line-height:0;white-space:nowrap;}
.text-ir {display:block;position:absolute;margin:-1px;padding:0;width:1px;height:1px;border:0;clip:rect(0 0 0 0);overflow:hidden;}
.tup {text-transform:uppercase;}
.tcp {text-transform:capitalize;}

.pc-show {display:block !important;}
.tb-show {display:none !important;}
.mb-show {display:none !important;}

.pc-hide {display:none !important;}
.tb-hide {display:block !important;}
.mb-hide {display:block !important;}

.pc { display: block; }
.mo { display: none; }

/****************** Tablet Device ******************/
@media all and (max-width:1280px) {
    body {z-index: 2;}

    .pc-show {display:none !important;}
	.tb-show {display:block !important;}
	.mb-show {display:none !important;}

	.pc-hide {display:block !important;}
	.tb-hide {display:none !important;}
	.mb-hide {display:block !important;}
}

/****************** Mobile Device ******************/
@media all and (max-width:750px) {

    /* 레이아웃 */
    html, body {}
    body {z-index: 3;}
	body, input, textarea, select {font-size:4vw; }
	input,
	select { height: 10.6667vw; }

	.pc-show {display:none !important;}
	.tb-show {display:none !important;}
	.mb-show {display:block !important;}

	.pc-hide {display:block !important;}
	.tb-hide {display:block !important;}
	.mb-hide {display:none !important;}

	.pc { display: none; }
	.mo { display: block; }

	/* radio */
	.i-radio {margin:3.2vw 5.3333vw 1.6vw 0;padding-left:6.9333vw;}
	.i-radio .icon {width:4.8vw;height:4.8vw;border:0.2667vw solid #9b9b9b;}
	.i-radio > input:checked + .icon {border-width:1.3333vw;}
	.i-radio .text {font-size:4.2667vw;line-height:4.8vw;}

	/* checkbox */
	.i-check {padding-left:8.5333vw;}
	.i-check .icon {padding:1.3333vw 0;width:5.0667vw;height:5.0667vw;}
	.i-check .icon::before {width:2.9333vw;height:2.1333vw;background-size:133.3333vw 133.3333vw;background-position:-64vw -22.6667vw;}
	.i-check .text {font-size:4vw;line-height:5.0667vw;}
	.i-check.right {padding-left:0;padding-right:8.5333vw;}
	.i-check.right .icon {left:auto;right:0;}

	/* datepicker */
	.i-datepicker { background-position: right 4vw center;background-size:4.8vw 5.0666vw;}

	/* button style */
	.btn-wrap { width: 100%; margin-top: 10vw; }
	.btn-wrap a .btn { width: 100%; height: 16vw; padding: 5.6vw 0; }
    /* .btn-wrap a:first-child .btn { margin-right: 1.8vw !important; } */
	.btn-wrap a .btn span { font-size: 4.5333vw; }

    .btn-wrap .btn:hover:before { width: 0; }

    /* .btn-wrap .btn-style2:hover { border: 1px solid #534741; } */
    .btn-wrap .btn-style2:hover span { color: #534741; }

    /* .btn-wrap .bg-org:before { background-color: #ff5319; }
    .btn-wrap .bg-org:hover { border: 1px solid #ff5319; }

    .btn-wrap .bg-black:before { background-color: #000; }
    .btn-wrap .bg-black:hover { border: 1px solid #000; } */

}
